# Homework 1
### Computational Network Analysis with R

## Part 1 - Basic Building Blocks

In this homework we will learn the basic building blocks of R. Lets start of with some simple intructions, using R as a calculator. 

**1.1 Execute following command: `2+7`**

In [1]:
2+7

[1] 9

We want to save the result in a variable. The syntax to assign a variable 'a' the value zero looks following: `a <- 0`. 

**1.2 Assign the expression 2+7 to the variable a**

In [2]:
a <- 2+7

To create a vector we use the the c() function, which stands for 'concatenate' or 'combine'. Example: `c(1.2, 7, 3.14)`

**1.3 Assign to x a vector with the values: 1.5, 8, 5.5**

In [3]:
x <- c(1.5, 8, 5.5)

Since we assigned the expression, the value is not shown. To see the contents of the variable just type x and press ctrl+enter.

**1.4 Show the contents of x**

In [4]:
x
print(x)

[1] 1.5 8.0 5.5

[1] 1.5 8.0 5.5

**1.5 Assign a new vector to y with the values [40.5, 34.0, 36.5] and then execute x+y**

In [5]:
y <- c(40.5, 34.0, 36.5)
x+y

[1] 42 42 42

**1.6 Now execute x * a. What happened?**

In [6]:
x*a

[1] 13.5 72.0 49.5

*Answer: scalar multiplication*

**1.7 Assign a new vector with the values [0, 5] to z and the values [1, 2, 3, 4] to n. Now execute z+n**

In [7]:
z <- c(0,5)
n <- c(1,2,3,4)
z+n

[1] 1 7 3 9

This concept is called vector recycling. It recycles the shorter vector, in this case the 'z' to match the length of the longer vector ('n'). In our exercise 1.6 the same principle is applied. If the shorter vector is not a multiple of the longer vector a warning will be thrown.

**1.8 Execute: c(1, 2, 3, 4) + c(0, 10, 100)**

In [8]:
c(1, 2, 3, 4) + c(0, 10, 100)

Warning message:
In c(1, 2, 3, 4) + c(0, 10, 100): Länge des längeren Objektes
 	 ist kein Vielfaches der Länge des kürzeren Objektes

[1]   1  12 103   4

Since we learned the basics, now some tricks to save time.

- The 'tab'-key shows autocomplete
- To find the help for a specific function no internet search is required. A simple questionmark followed by the command will suffice: `?c`
- To search in the helpfiles for keywords use the double questionmark and the keyword: `??csv`

**1.9 Show the help file for the 'read.csv' function.**

In [9]:
?read.csv

read.table                package:utils                R Documentation

_D_a_t_a _I_n_p_u_t

_D_e_s_c_r_i_p_t_i_o_n:

     Reads a file in table format and creates a data frame from it,
     with cases corresponding to lines and variables to fields in the
     file.

_U_s_a_g_e:

     read.table(file, header = FALSE, sep = "", quote = "\"'",
                dec = ".", numerals = c("allow.loss", "warn.loss", "no.loss"),
                row.names, col.names, as.is = !stringsAsFactors,
                na.strings = "NA", colClasses = NA, nrows = -1,
                skip = 0, check.names = TRUE, fill = !blank.lines.skip,
                strip.white = FALSE, blank.lines.skip = TRUE,
                comment.char = "#",
                allowEscapes = FALSE, flush = FALSE,
                stringsAsFactors = default.stringsAsFactors(),
                fileEncoding = "", encoding = "unknown", text, skipNul = FALSE)

     read.csv(file, header = TRUE, sep = ",", quote = "\"",
              dec = ".", fill = TRUE, comment.char = "", ...)

     read.csv2(file, header = TRUE, sep = ";", quote = "\"",
               dec = ",", fill = TRUE, comment.char = "", ...)

     read.delim(file, header = TRUE, sep = "\t", quote = "\"",
                dec = ".", fill = TRUE, comment.char = "", ...)

     read.delim2(file, header = TRUE, sep = "\t", quote = "\"",
                 dec = ",", fill = TRUE, comment.char = "", ...)

_A_r_g_u_m_e_n_t_s:

    file: the name of the file which the data are to be read from.
          Each row of the table appears as one line of the file.  If it
          does not contain an _absolute_ path, the file name is
          _relative_ to the current working directory, 'getwd()'.
          Tilde-expansion is performed where supported.  This can be a
          compressed file (see 'file').

          Alternatively, 'file' can be a readable text-mode connection
          (which will be opened for reading if necessary, and if so
          'close'd (and hence destroyed) at the end of the function
          call).  (If 'stdin()' is used, the prompts for lines may be
          somewhat confusing.  Terminate input with a blank line or an
          EOF signal, 'Ctrl-D' on Unix and 'Ctrl-Z' on Windows.  Any
          pushback on 'stdin()' will be cleared before return.)

          'file' can also be a complete URL.  (For the supported URL
          schemes, see the 'URLs' section of the help for 'url'.)

  header: a logical value indicating whether the file contains the
          names of the variables as its first line.  If missing, the
          value is determined from the file format: 'header' is set to
          'TRUE' if and only if the first row contains one fewer field
          than the number of columns.

     sep: the field separator character.  Values on each line of the
          file are separated by this character.  If 'sep = ""' (the
          default for 'read.table') the separator is 'white space',
          that is one or more spaces, tabs, newlines or carriage
          returns.

   quote: the set of quoting characters. To disable quoting altogether,
          use 'quote = ""'.  See 'scan' for the behaviour on quotes
          embedded in quotes.  Quoting is only considered for columns
          read as character, which is all of them unless 'colClasses'
          is specified.

     dec: the character used in the file for decimal points.

numerals: string indicating how to convert numbers whose conversion to
          double precision would lose accuracy, see 'type.convert'.

row.names: a vector of row names.  This can be a vector giving the
          actual row names, or a single number giving the column of the
          table which contains the row names, or character string
          giving the name of the table column containing the row names.

          If there is a header and the first row contains one fewer
          field than the number of columns, the first column in the
          input is used for the row names.  Otherwise if 'row.names' is
          missing, the rows are numbered.

          Using 'row.names = NULL' forces row numbering. Missing or
          'NULL' 'row.names' generate row names that are considered to
          be 'automatic' (and not preserved by 'as.matrix').

col.names: a vector of optional names for the variables.  The default
          is to use '"V"' followed by the column number.

   as.is: the default behavior of 'read.table' is to convert character
          variables (which are not converted to logical, numeric or
          complex) to factors.  The variable 'as.is' controls the
          conversion of columns not otherwise specified by
          'colClasses'.  Its value is either a vector of logicals
          (values are recycled if necessary), or a vector of numeric or
          character indices which specify which columns should not be
          converted to factors.

          Note: to suppress all conversions including those of numeric
          columns, set 'colClasses = "character"'.

          Note that 'as.is' is specified per column (not per variable)
          and so includes the column of row names (if any) and any
          columns to be skipped.

na.strings: a character vector of strings which are to be interpreted
          as 'NA' values.  Blank fields are also considered to be
          missing values in logical, integer, numeric and complex
          fields.

colClasses: character.  A vector of classes to be assumed for the
          columns.  Recycled as necessary, or if the character vector
          is named, unspecified values are taken to be 'NA'.

          Possible values are 'NA' (the default, when 'type.convert' is
          used), '"NULL"' (when the column is skipped), one of the
          atomic vector classes (logical, integer, numeric, complex,
          character, raw), or '"factor"', '"Date"' or '"POSIXct"'.
          Otherwise there needs to be an 'as' method (from package
          'methods') for conversion from '"character"' to the specified
          formal class.

          Note that 'colClasses' is specified per column (not per
          variable) and so includes the column of row names (if any).

   nrows: integer: the maximum number of rows to read in.  Negative and
          other invalid values are ignored.

    skip: integer: the number of lines of the data file to skip before
          beginning to read data.

check.names: logical.  If 'TRUE' then the names of the variables in the
          data frame are checked to ensure that they are syntactically
          valid variable names.  If necessary they are adjusted (by
          'make.names') so that they are, and also to ensure that there
          are no duplicates.

    fill: logical. If 'TRUE' then in case the rows have unequal length,
          blank fields are implicitly added.  See 'Details'.

strip.white: logical. Used only when 'sep' has been specified, and
          allows the stripping of leading and trailing white space from
          unquoted 'character' fields ('numeric' fields are always
          stripped).  See 'scan' for further details (including the
          exact meaning of 'white space'), remembering that the columns
          may include the row names.

blank.lines.skip: logical: if 'TRUE' blank lines in the input are
          ignored.

comment.char: character: a character vector of length one containing a
          single character or an empty string.  Use '""' to turn off
          the interpretation of comments altogether.

allowEscapes: logical.  Should C-style escapes such as '\n' be
          processed or read verbatim (the default)?  Note that if not
          within quotes these could be interpreted as a delimiter (but
          not as a comment character).  For more details see 'scan'.

   flush: logical: if 'TRUE', 'scan' will flush to the end of the line
          after reading the last of the fields requested.  This allows
          putting comments after the last field.

stringsAsFactors: logical: should character vectors be converted to
          factors?  Note that this is overridden by 'as.is' and
          'colClasses', both of which allow finer control.

fileEncoding: character string: if non-empty declares the encoding used
          on a file (not a connection) so the character data can be
          re-encoded.  See the 'Encoding' section of the help for
          'file', the 'R Data Import/Export Manual' and 'Note'.

encoding: encoding to be assumed for input strings.  It is used to mark
          character strings as known to be in Latin-1 or UTF-8 (see
          'Encoding'): it is not used to re-encode the input, but
          allows R to handle encoded strings in their native encoding
          (if one of those two).  See 'Value' and 'Note'.

    text: character string: if 'file' is not supplied and this is, then
          data are read from the value of 'text' via a text connection.
          Notice that a literal string can be used to include (small)
          data sets within R code.

 skipNul: logical: should nuls be skipped?

     ...: Further arguments to be passed to 'read.table'.

_D_e_t_a_i_l_s:

     This function is the principal means of reading tabular data into
     R.

     Unless 'colClasses' is specified, all columns are read as
     character columns and then converted using 'type.convert' to
     logical, integer, numeric, complex or (depending on 'as.is')
     factor as appropriate.  Quotes are (by default) interpreted in all
     fields, so a column of values like '"42"' will result in an
     integer column.

     A field or line is 'blank' if it contains nothing (except
     whitespace if no separator is specified) before a comment
     character or the end of the field or line.

     If 'row.names' is not specified and the header line has one less
     entry than the number of columns, the first column is taken to be
     the row names.  This allows data frames to be read in from the
     format in which they are printed.  If 'row.names' is specified and
     does not refer to the first column, that column is discarded from
     such files.

     The number of data columns is determined by looking at the first
     five lines of input (or the whole file if it has less than five
     lines), or from the length of 'col.names' if it is specified and
     is longer.  This could conceivably be wrong if 'fill' or
     'blank.lines.skip' are true, so specify 'col.names' if necessary
     (as in the 'Examples').

     'read.csv' and 'read.csv2' are identical to 'read.table' except
     for the defaults.  They are intended for reading 'comma separated
     value' files ('.csv') or ('read.csv2') the variant used in
     countries that use a comma as decimal point and a semicolon as
     field separator.  Similarly, 'read.delim' and 'read.delim2' are
     for reading delimited files, defaulting to the TAB character for
     the delimiter.  Notice that 'header = TRUE' and 'fill = TRUE' in
     these variants, and that the comment character is disabled.

     The rest of the line after a comment character is skipped; quotes
     are not processed in comments.  Complete comment lines are allowed
     provided 'blank.lines.skip = TRUE'; however, comment lines prior
     to the header must have the comment character in the first
     non-blank column.

     Quoted fields with embedded newlines are supported except after a
     comment character.  Embedded nuls are unsupported: skipping them
     (with 'skipNul = TRUE') may work.

_V_a_l_u_e:

     A data frame ('data.frame') containing a representation of the
     data in the file.

     Empty input is an error unless 'col.names' is specified, when a
     0-row data frame is returned: similarly giving just a header line
     if 'header = TRUE' results in a 0-row data frame.  Note that in
     either case the columns will be logical unless 'colClasses' was
     supplied.

     Character strings in the result (including factor levels) will
     have a declared encoding if 'encoding' is '"latin1"' or '"UTF-8"'.

_M_e_m_o_r_y _u_s_a_g_e:

     These functions can use a surprising amount of memory when reading
     large files.  There is extensive discussion in the 'R Data
     Import/Export' manual, supplementing the notes here.

     Less memory will be used if 'colClasses' is specified as one of
     the six atomic vector classes.  This can be particularly so when
     reading a column that takes many distinct numeric values, as
     storing each distinct value as a character string can take up to
     14 times as much memory as storing it as an integer.

     Using 'nrows', even as a mild over-estimate, will help memory
     usage.

     Using 'comment.char = ""' will be appreciably faster than the
     'read.table' default.

     'read.table' is not the right tool for reading large matrices,
     especially those with many columns: it is designed to read _data
     frames_ which may have columns of very different classes.  Use
     'scan' instead for matrices.

_N_o_t_e:

     The columns referred to in 'as.is' and 'colClasses' include the
     column of row names (if any).

     There are two approaches for reading input that is not in the
     local encoding.  If the input is known to be UTF-8 or Latin1, use
     the 'encoding' argument to declare that.  If the input is in some
     other encoding, then it may be translated on input.  The
     'fileEncoding' argument achieves this by setting up a connection
     to do the re-encoding into the current locale.  Note that on
     Windows or other systems not running in a UTF-8 locale, this may
     not be possible.

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. (1992) _Data for models._ Chapter 3 of
     _Statistical Models in S_ eds J. M. Chambers and T. J. Hastie,
     Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     The 'R Data Import/Export' manual.

     'scan', 'type.convert', 'read.fwf' for reading _f_ixed _w_idth
     _f_ormatted input; 'write.table'; 'data.frame'.

     'count.fields' can be useful to determine problems with reading
     files which result in reports of incorrect record lengths (see the
     'Examples' below).

     <URL: http://tools.ietf.org/html/rfc4180> for the IANA definition
     of CSV files (which requires comma as separator and CRLF line
     endings).

_E_x_a_m_p_l_e_s:

     ## using count.fields to handle unknown maximum number of fields
     ## when fill = TRUE
     test1 <- c(1:5, "6,7", "8,9,10")
     tf <- tempfile()
     writeLines(test1, tf)

     read.csv(tf, fill = TRUE) # 1 column
     ncol <- max(count.fields(tf, sep = ","))
     read.csv(tf, fill = TRUE, header = FALSE,
              col.names = paste0("V", seq_len(ncol)))
     unlink(tf)

     ## "Inline" data set, using text=
     ## Notice that leading and trailing empty lines are auto-trimmed

     read.table(header = TRUE, text = "
     a b
     1 2
     3 4
     ")

## Part 2 - Data Frames

In this exercise we will work with data frames. A data frame is similar to a table in a database. We prepared some code to import a csv. We advise to read and then execute the preimplemented code to understand.

In [10]:
# read the csv into a dataframe
path <- "data/msleep_ggplot2.csv"
df <- read.csv(path)

# show the head of the dataframe
head(df)

                        name      genus  vore        order conservation
1                    Cheetah   Acinonyx carni    Carnivora           lc
2                 Owl monkey      Aotus  omni     Primates         <NA>
3            Mountain beaver Aplodontia herbi     Rodentia           nt
4 Greater short-tailed shrew    Blarina  omni Soricomorpha           lc
5                        Cow        Bos herbi Artiodactyla domesticated
6           Three-toed sloth   Bradypus herbi       Pilosa         <NA>
  sleep_total sleep_rem sleep_cycle awake brainwt  bodywt
1        12.1        NA          NA  11.9      NA  50.000
2        17.0       1.8          NA   7.0 0.01550   0.480
3        14.4       2.4          NA   9.6      NA   1.350
4        14.9       2.3   0.1333333   9.1 0.00029   0.019
5         4.0       0.7   0.6666667  20.0 0.42300 600.000
6        14.4       2.2   0.7666667   9.6      NA   3.850

The data frame is now in the variable df. We can now analyze the data. To get a specific column or row we can use indices.
To get the first row we would execute `df[1,]`. To get the genus `df[,2]`. To get the genus of the first row: df[1,2].

**2.1 Get the name of all animals**

*Note: Indices in R start with a 1*

In [11]:
df[,1]

 [1] Cheetah                        Owl monkey
 [3] Mountain beaver                Greater short-tailed shrew
 [5] Cow                            Three-toed sloth
 [7] Northern fur seal              Vesper mouse
 [9] Dog                            Roe deer
[11] Goat                           Guinea pig
[13] Grivet                         Chinchilla
[15] Star-nosed mole                African giant pouched rat
[17] Lesser short-tailed shrew      Long-nosed armadillo
[19] Tree hyrax                     North American Opossum
[21] Asian elephant                 Big brown bat
[23] Horse                          Donkey
[25] European hedgehog              Patas monkey
[27] Western american chipmunk      Domestic cat
[29] Galago                         Giraffe
[31] Pilot whale                    Gray seal
[33] Gray hyrax                     Human
[35] Mongoose lemur                 African elephant
[37] Thick-tailed opposum           Macaque
[39] Mongolian gerbil               Golden hamster
[41] Vole                           House mouse
[43] Little brown bat               Round-tailed muskrat
[45] Slow loris                     Degu
[47] Northern grasshopper mouse     Rabbit
[49] Sheep                          Chimpanzee
[51] Tiger                          Jaguar
[53] Lion                           Baboon
[55] Desert hedgehog                Potto
[57] Deer mouse                     Phalanger
[59] Caspian seal                   Common porpoise
[61] Potoroo                        Giant armadillo
[63] Rock hyrax                     Laboratory rat
[65] African striped mouse          Squirrel monkey
[67] Eastern american mole          Cotton rat
[69] Mole rat                       Arctic ground squirrel
[71] Thirteen-lined ground squirrel Golden-mantled ground squirrel
[73] Musk shrew                     Pig
[75] Short-nosed echidna            Eastern american chipmunk
[77] Brazilian tapir                Tenrec
[79] Tree shrew                     Bottle-nosed dolphin
[81] Genet                          Arctic fox
[83] Red fox
83 Levels: African elephant African giant pouched rat ... Western american chipmunk

We also can access the same column with the dollar-sign. To access the genus: df$genus

**2.2 Access the name of the animals with the new method.**

In [12]:
df$name;

 [1] Cheetah                        Owl monkey
 [3] Mountain beaver                Greater short-tailed shrew
 [5] Cow                            Three-toed sloth
 [7] Northern fur seal              Vesper mouse
 [9] Dog                            Roe deer
[11] Goat                           Guinea pig
[13] Grivet                         Chinchilla
[15] Star-nosed mole                African giant pouched rat
[17] Lesser short-tailed shrew      Long-nosed armadillo
[19] Tree hyrax                     North American Opossum
[21] Asian elephant                 Big brown bat
[23] Horse                          Donkey
[25] European hedgehog              Patas monkey
[27] Western american chipmunk      Domestic cat
[29] Galago                         Giraffe
[31] Pilot whale                    Gray seal
[33] Gray hyrax                     Human
[35] Mongoose lemur                 African elephant
[37] Thick-tailed opposum           Macaque
[39] Mongolian gerbil               Golden hamster
[41] Vole                           House mouse
[43] Little brown bat               Round-tailed muskrat
[45] Slow loris                     Degu
[47] Northern grasshopper mouse     Rabbit
[49] Sheep                          Chimpanzee
[51] Tiger                          Jaguar
[53] Lion                           Baboon
[55] Desert hedgehog                Potto
[57] Deer mouse                     Phalanger
[59] Caspian seal                   Common porpoise
[61] Potoroo                        Giant armadillo
[63] Rock hyrax                     Laboratory rat
[65] African striped mouse          Squirrel monkey
[67] Eastern american mole          Cotton rat
[69] Mole rat                       Arctic ground squirrel
[71] Thirteen-lined ground squirrel Golden-mantled ground squirrel
[73] Musk shrew                     Pig
[75] Short-nosed echidna            Eastern american chipmunk
[77] Brazilian tapir                Tenrec
[79] Tree shrew                     Bottle-nosed dolphin
[81] Genet                          Arctic fox
[83] Red fox
83 Levels: African elephant African giant pouched rat ... Western american chipmunk

We can filter the data. The method to filter on dataframes is called masking.
To get the rows of all animals who have less than 4 sleep_total: `df[df$sleep_total < 4,]`

**2.3 Now get all rows where the order is of the type 'Primates'**

In [13]:
df[df$order == 'Primates',];

              name         genus  vore    order conservation sleep_total
2       Owl monkey         Aotus  omni Primates         <NA>        17.0
13          Grivet Cercopithecus  omni Primates           lc        10.0
26    Patas monkey  Erythrocebus  omni Primates           lc        10.9
29          Galago        Galago  omni Primates         <NA>         9.8
34           Human          Homo  omni Primates         <NA>         8.0
35  Mongoose lemur         Lemur herbi Primates           vu         9.5
38         Macaque        Macaca  omni Primates         <NA>        10.1
45      Slow loris     Nyctibeus carni Primates         <NA>        11.0
50      Chimpanzee           Pan  omni Primates         <NA>         9.7
54          Baboon         Papio  omni Primates         <NA>         9.4
56           Potto  Perodicticus  omni Primates           lc        11.0
66 Squirrel monkey       Saimiri  omni Primates         <NA>         9.6
   sleep_rem sleep_cycle awake brainwt bodywt
2        1.8          NA   7.0  0.0155  0.480
13       0.7          NA  14.0      NA  4.750
26       1.1          NA  13.1  0.1150 10.000
29       1.1   0.5500000  14.2  0.0050  0.200
34       1.9   1.5000000  16.0  1.3200 62.000
35       0.9          NA  14.5      NA  1.670
38       1.2   0.7500000  13.9  0.1790  6.800
45        NA          NA  13.0  0.0125  1.400
50       1.4   1.4166667  14.3  0.4400 52.200
54       1.0   0.6666667  14.6  0.1800 25.235
56        NA          NA  13.0      NA  1.100
66       1.4          NA  14.4  0.0200  0.743

### Masking

Lets understand how masking works. We use our previous vector 'n'.

**2.4 Assign a vector with the values [`TRUE, FALSE, TRUE, TRUE`] to the variable 'mask'. Now execute `n[mask]`**

In [14]:
mask <- c(TRUE,FALSE,TRUE,TRUE);
n[mask];

[1] 1 3 4

We see that the second value from 'n' is ommitted coincidentally is only the second value of 'mask' FALSE.

Masking allows to take and filter multiple values of any dataframe or vector by supplying a boolean vector with TRUE values at the wanted indices. We can use this behaviour by obtaining this boolean vector with any boolean expression.

**2.5 Execute `n > 2`**

In [15]:
n>2

[1] FALSE FALSE  TRUE  TRUE

The TRUE values are at the same indice where our condition holds TRUE (n>2).

By combining both we can obtain all values in n where n > 2.

**2.6 Execute n[n > 2]**

In [16]:
n[n>2]

[1] 3 4

**2.7 Given a vector n2 (see below), output all numbers in n2 which are even.**

In [17]:
n2 <- 1:20
n2[n2%%2==0]

 [1]  2  4  6  8 10 12 14 16 18 20

**2.8 Now find all Primates in df who have a sleep_total of smaller 10.**

In [18]:
df[df$order == 'Primates' & df$sleep_total < 10,]

              name   genus  vore    order conservation sleep_total sleep_rem
29          Galago  Galago  omni Primates         <NA>         9.8       1.1
34           Human    Homo  omni Primates         <NA>         8.0       1.9
35  Mongoose lemur   Lemur herbi Primates           vu         9.5       0.9
50      Chimpanzee     Pan  omni Primates         <NA>         9.7       1.4
54          Baboon   Papio  omni Primates         <NA>         9.4       1.0
66 Squirrel monkey Saimiri  omni Primates         <NA>         9.6       1.4
   sleep_cycle awake brainwt bodywt
29   0.5500000  14.2   0.005  0.200
34   1.5000000  16.0   1.320 62.000
35          NA  14.5      NA  1.670
50   1.4166667  14.3   0.440 52.200
54   0.6666667  14.6   0.180 25.235
66          NA  14.4   0.020  0.743

## Part 3 - DFG Data

We have following files in the data folder:

``
-rw-r--r-- 1 User 197609    6077 Dec 11 16:58 msleep_ggplot2.csv
-rw-r--r-- 1 User 197609 1226329 Dec 11 17:33 dfg_disziplin.csv
-rw-r--r-- 1 User 197609 5343172 Dec 11 17:33 dfg_institute.csv
-rw-r--r-- 1 User 197609 5317391 Dec 11 17:33 dfg_people.csv
-rw-r--r-- 1 User 197609 1183240 Dec 11 17:33 dfg_time.csv
``

**Tasks:**
- **Read every csv starting with the name 'dfg_' into its own variable**
- **Display the data with the `head` function**
- **Combine the data into a single Dataframe (hint: `?merge`)**
- **Tip: You may need to "`unique`" the merged data frame**
- **How many different persons, projects and disciplines exist?**


*Tip: You can create more cells to logically seperate the code. Juse use the plus sign at the top. Or the 'insert' menu.*

In [19]:
# read the csv into a dataframe
path1 <- "data/msleep_ggplot2.csv"
path2 <- "data/dfg_disziplin.csv"
path3 <- "data/dfg_institute.csv"
path4 <- "data/dfg_people.csv"
path5 <- "data/dfg_time.csv"

dfg_1 <- read.csv(path1)
dfg_2 <- read.csv(path2)
dfg_3 <- read.csv(path3)
dfg_4 <- read.csv(path4)
dfg_5 <- read.csv(path5)

# show the head of the dataframe
head(dfg_2)
head(dfg_3)
head(dfg_4)
head(dfg_5)

Warning message:
In scan(file, what, nmax, sep, dec, quote, skip, nlines, na.strings, : EOF in Zeichenkette

  project_id
1     268879
2     269289
3     269289
4     269303
5     269347
6     269501
                                                                                                                                                        project_name
1                                      GRK 8:Â  Quantitative Analyse und Charakterisierung pharmazeutisch und biochemisch relevanter Substanzen (Analytische Chemie)
2 GRK 51:Â  Sensorik (Sensoren und Sensorsysteme fÃ¼r mechanische GrÃ¶Ãen sowie Strahlung im sichtbaren und unsichtbaren Spektralgebiet, elektrochemische Sensoren)
3 GRK 51:Â  Sensorik (Sensoren und Sensorsysteme fÃ¼r mechanische GrÃ¶Ãen sowie Strahlung im sichtbaren und unsichtbaren Spektralgebiet, elektrochemische Sensoren)
4                                               GRK 52:Â  Quantenfeldtheorie: mathematische Struktur und Anwendungen in der Elementarteilchen- und FestkÃ¶rperphysik
5                                                                                                     GRK 57:Â  Molekulare Physiologie: Stoff- und Energieumwandlung
6                                                                                                     GRK 72:Â  Identifikation von Material- und Systemeigenschaften
                         discipline_name
1 Analytik, Methodenentwicklung (Chemie)
2                         Elektrotechnik
3                     Produktionstechnik
4       Physik der kondensierten Materie
5    Grundlagen der Biologie und Medizin
6                     Produktionstechnik

  project_id                                                               name
1     268853                                      GRK 6:Â  RÃ¤umliche Statistik
2     268853                                      GRK 6:Â  RÃ¤umliche Statistik
3     268853                                      GRK 6:Â  RÃ¤umliche Statistik
4     268865 GRK 7:Â  Mathematik im Bereich ihrer Wechselwirkung mit der Physik
5     268865 GRK 7:Â  Mathematik im Bereich ihrer Wechselwirkung mit der Physik
6     268865 GRK 7:Â  Mathematik im Bereich ihrer Wechselwirkung mit der Physik
                                        address
1 Technische UniversitÃ¤t Bergakademie Freiberg
2                          Hochschule Darmstadt
3               Technische UniversitÃ¤t Dresden
4      Ludwig-Maximilians-UniversitÃ¤t MÃ¼nchen
5              Technische UniversitÃ¤t MÃ¼nchen
6   Max-Planck-Institut fÃ¼r Gravitationsphysik

  project_id                    person_name
1     268879  Professor Dr. Peter Grathwohl
2     268931  Professor Dr. Siegfried Greif
3     269007                Dr. Eilhard Mix
4     269145  Professor Dr. Johanna Stachel
5     269443 Professor Dr. Helga Haftendorn
6     269491    Professor Dr. Rudolf Aumann

  project_id year
1     268853 1997
2     268865 1996
3     268879 1995
4     268931 1995
5     269007 1997
6     269105 1996

In [20]:
?merge

merge                   package:base                   R Documentation

_M_e_r_g_e _T_w_o _D_a_t_a _F_r_a_m_e_s

_D_e_s_c_r_i_p_t_i_o_n:

     Merge two data frames by common columns or row names, or do other
     versions of database _join_ operations.

_U_s_a_g_e:

     merge(x, y, ...)

     ## Default S3 method:
     merge(x, y, ...)

     ## S3 method for class 'data.frame'
     merge(x, y, by = intersect(names(x), names(y)),
           by.x = by, by.y = by, all = FALSE, all.x = all, all.y = all,
           sort = TRUE, suffixes = c(".x",".y"),
           incomparables = NULL, ...)

_A_r_g_u_m_e_n_t_s:

    x, y: data frames, or objects to be coerced to one.

by, by.x, by.y: specifications of the columns used for merging.  See
          'Details'.

     all: logical; 'all = L' is shorthand for 'all.x = L' and 'all.y =
          L', where 'L' is either 'TRUE' or 'FALSE'.

   all.x: logical; if 'TRUE', then extra rows will be added to the
          output, one for each row in 'x' that has no matching row in
          'y'.  These rows will have 'NA's in those columns that are
          usually filled with values from 'y'.  The default is 'FALSE',
          so that only rows with data from both 'x' and 'y' are
          included in the output.

   all.y: logical; analogous to 'all.x'.

    sort: logical.  Should the result be sorted on the 'by' columns?

suffixes: a character vector of length 2 specifying the suffixes to be
          used for making unique the names of columns in the result
          which not used for merging (appearing in 'by' etc).

incomparables: values which cannot be matched.  See 'match'.  This is
          intended to be used for merging on one column, so these are
          incomparable values of that column.

     ...: arguments to be passed to or from methods.

_D_e_t_a_i_l_s:

     'merge' is a generic function whose principal method is for data
     frames: the default method coerces its arguments to data frames
     and calls the '"data.frame"' method.

     By default the data frames are merged on the columns with names
     they both have, but separate specifications of the columns can be
     given by 'by.x' and 'by.y'.  The rows in the two data frames that
     match on the specified columns are extracted, and joined together.
     If there is more than one match, all possible matches contribute
     one row each.  For the precise meaning of 'match', see 'match'.

     Columns to merge on can be specified by name, number or by a
     logical vector: the name '"row.names"' or the number '0' specifies
     the row names.  If specified by name it must correspond uniquely
     to a named column in the input.

     If 'by' or both 'by.x' and 'by.y' are of length 0 (a length zero
     vector or 'NULL'), the result, 'r', is the _Cartesian product_ of
     'x' and 'y', i.e., 'dim(r) = c(nrow(x)*nrow(y), ncol(x) +
     ncol(y))'.

     If 'all.x' is true, all the non matching cases of 'x' are appended
     to the result as well, with 'NA' filled in the corresponding
     columns of 'y'; analogously for 'all.y'.

     If the columns in the data frames not used in merging have any
     common names, these have 'suffixes' ('".x"' and '".y"' by default)
     appended to try to make the names of the result unique.  If this
     is not possible, an error is thrown.

     The complexity of the algorithm used is proportional to the length
     of the answer.

     In SQL database terminology, the default value of 'all = FALSE'
     gives a _natural join_, a special case of an _inner join_.
     Specifying 'all.x = TRUE' gives a _left (outer) join_, 'all.y =
     TRUE' a _right (outer) join_, and both ('all = TRUE' a _(full)
     outer join_.  DBMSes do not match 'NULL' records, equivalent to
     'incomparables = NA' in R.

_V_a_l_u_e:

     A data frame.  The rows are by default lexicographically sorted on
     the common columns, but for 'sort = FALSE' are in an unspecified
     order.  The columns are the common columns followed by the
     remaining columns in 'x' and then those in 'y'.  If the matching
     involved row names, an extra character column called 'Row.names'
     is added at the left, and in all cases the result has 'automatic'
     row names.

_N_o_t_e:

     This is intended to work with data frames with vector-like
     columns: some aspects work with data frames containing matrices,
     but not all.

     Currently long vectors are not accepted for inputs, which are thus
     restricted to less than 2^31 rows, and that restriction also
     applies to the result.

_S_e_e _A_l_s_o:

     'data.frame', 'by', 'cbind'.

     'dendrogram' for a class which has a 'merge' method.

_E_x_a_m_p_l_e_s:

     ## use character columns of names to get sensible sort order
     authors <- data.frame(
         surname = I(c("Tukey", "Venables", "Tierney", "Ripley", "McNeil")),
         nationality = c("US", "Australia", "US", "UK", "Australia"),
         deceased = c("yes", rep("no", 4)))
     books <- data.frame(
         name = I(c("Tukey", "Venables", "Tierney",
                  "Ripley", "Ripley", "McNeil", "R Core")),
         title = c("Exploratory Data Analysis",
                   "Modern Applied Statistics ...",
                   "LISP-STAT",
                   "Spatial Statistics", "Stochastic Simulation",
                   "Interactive Data Analysis",
                   "An Introduction to R"),
         other.author = c(NA, "Ripley", NA, NA, NA, NA,
                          "Venables & Smith"))

     (m1 <- merge(authors, books, by.x = "surname", by.y = "name"))
     (m2 <- merge(books, authors, by.x = "name", by.y = "surname"))
     stopifnot(as.character(m1[, 1]) == as.character(m2[, 1]),
               all.equal(m1[, -1], m2[, -1][ names(m1)[-1] ]),
               dim(merge(m1, m2, by = integer(0))) == c(36, 10))

     ## "R core" is missing from authors and appears only here :
     merge(authors, books, by.x = "surname", by.y = "name", all = TRUE)

     ## example of using 'incomparables'
     x <- data.frame(k1 = c(NA,NA,3,4,5), k2 = c(1,NA,NA,4,5), data = 1:5)
     y <- data.frame(k1 = c(NA,2,NA,4,5), k2 = c(NA,NA,3,4,5), data = 1:5)
     merge(x, y, by = c("k1","k2")) # NA's match
     merge(x, y, by = "k1") # NA's match, so 6 rows
     merge(x, y, by = "k2", incomparables = NA) # 2 rows

In [21]:
mdf23 <- merge(dfg_2, dfg_3, all = FALSE)
mdf34 <- merge(dfg_3, dfg_4, all = FALSE)
mdf45 <- merge(dfg_4, dfg_5, all = FALSE)

mdf234 <- merge(mdf23, mdf34)
mdf345 <- merge(mdf34, mdf45)

mdf <- merge(mdf234,mdf345)

cdf <- unique(mdf, incomparables = FALSE)

head(cdf)

ls()

Warning message:
In `[<-.factor`(`*tmp*`, ri, value = c(268853L, 268853L, 268853L, : invalid factor level, NA generated

  project_id
1  100062439
2  100062439
3  100062439
4  100062439
5  100062439
6  100062439
                                                                          name
1 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
2 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
3 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
4 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
5 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
6 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
                                                       address
1 Leibniz-Institut fÃ¼r Analytische Wissenschaften -ISAS- e.V.
2 Leibniz-Institut fÃ¼r Analytische Wissenschaften -ISAS- e.V.
3 Leibniz-Institut fÃ¼r Analytische Wissenschaften -ISAS- e.V.
4                               Technische UniversitÃ¤t Berlin
5                               Technische UniversitÃ¤t Berlin
6                               Technische UniversitÃ¤t Berlin
                    person_name
1              Dr. Patrick Vogt
2 Professor Dr. Michael Kneissl
3   Professor Dr. Norbert Esser
4              Dr. Patrick Vogt
5 Professor Dr. Michael Kneissl
6   Professor Dr. Norbert Esser
                                                                  project_name
1 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
2 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
3 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
4 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
5 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
6 In(Ga)N (0001)-OberflÃ¤chen: PrÃ¤paration und atomare/elektronische Struktur
                                  discipline_name year
1 Experimentelle Physik der kondensierten Materie 2009
2 Experimentelle Physik der kondensierten Materie 2009
3 Experimentelle Physik der kondensierten Materie 2009
4 Experimentelle Physik der kondensierten Materie 2009
5 Experimentelle Physik der kondensierten Materie 2009
6 Experimentelle Physik der kondensierten Materie 2009

 [1] "a"      "cdf"    "df"     "dfg_1"  "dfg_2"  "dfg_3"  "dfg_4"  "dfg_5"
 [9] "mask"   "mdf"    "mdf23"  "mdf234" "mdf34"  "mdf345" "mdf45"  "n"
[17] "n2"     "path"   "path1"  "path2"  "path3"  "path4"  "path5"  "x"
[25] "y"      "z"

## Part 4 - Finishing touch

Handing in the assignment requires following steps:

**Checking if the code works if sequentielly executed**
- restart the kernel to clear the current workspace variables
- run all cells (menu: cell - runall)

**Handin**
- Save current progress ('ctrl + s')
- Commit and push to your own fork
- Dance